.wordmark {
  display: flex;
  align-items: center;
  color: #fafafa;
  gap: 16px;
  transform: translateZ(0);
}

.icon {
  width: 6rem;
  height: 6rem;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

.word {
  height: 3rem;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
